{% extends "base.html" %}
 <!DOCTYPE html>
<html lang="en">
<body>
{% block content %}



<center><h3 class="fs-4 mb-3">Pending Service</h3>
<div class="col">
    <table class="table bg-white rounded shadow-sm  table-hover">
      <tbody>
        <table class="table bg-white rounded shadow-sm  table-hover" style="width:60%" >
      <tbody>

        {% for value in data %} 
        <form action="/pendingupdate/{{value[1]}}" method="POST"> 
             <tr>               
            <th>Service_no:</th>
            <td>
                 {{value[1]}}
            </td>
           </tr>
           <tr>
              <th>Customer Name:</th>
              <td>
               {{value[2]}}
              </td>
            </tr>
            <tr>
              <th>Car Model:</th>
              <td>
               {{value[3]}}
            </td>
           </tr>
           <tr>
              <th>
              Car Type:</th>
              <td>
               {{value[4]}}
            </td>
            </tr>
            <tr>
              <th>Car Registration_no:</th>
              <td>
               {{value[5]}}
            </td>
            </tr>
            <tr>
              <th>Service_Type:</th>
              <td>
               {{value[6]}}
            </td>
            </tr>
           <tr>
              <th>Selected Services</th> <td>
              {% for value in data1 %}
                {{value[0]}}<br>
              {% endfor %}</td>
            </tr>
            <tr>
              <th>Delivery Type:</th>
                <td>
               {{value[11]}}
              </td>
            </tr>
            <tr>
            <th>Pickup Address:</th>
              <td>
                {{value[12]}}
              </td>
            </tr>
            <tr>
            <th>Pickup Date:</th>
              <td>
                {{value[7]}}
              </td>
            </tr>
            <tr>
            <th>Pickup Time:</th>
              <td>
                {{value[8]}}
              </td>
            </tr>
            <tr>
            <th>Drop Date:</th>
              <td>
                {{value[9]}}
              </td>
            </tr>
            <tr>
            <th>Drop Time:</th>
              <td>
                {{value[10]}}
              </td>
            </tr>
            <tr>
              <th>Drop Address:</th>
                <td>
                {{value[13]}}
              </td>
            </tr>
            <tr>
              <th>Customer Registation Date:</th>
                <td>
                {{value[14]}}
              </td>
            </tr>
             <tr>
              <th>Pincode:</th>
                <td>
                {{value[19]}}
              </td>
            </tr>
            {% endfor %}
            <tr>
               <th><label for="">Admin Status</label></th>
              <td><select name="adminrespond">
                 
                  <option name="adminrespond" value="pending">Pending</option>
                  <option name="adminrespond" value="completed">Completed</option>
              </select><td>
              </tr>
              <tr>
               <th><label for="">Service By</label></th>
               <td><select name="serviceby">
                <option name="serviceby">select mechanic name</option>
               {% for value in service %}
                  <option name="serviceby" value={{value[0]}}>{{value[0]}}</option>
                {% endfor %}
                 </select><td>
              </tr> 

            <tr>
            <td><button type="submit" class="btn btn-secondary">Next</button>
            
          
            <a href="/serviceformpending" class="btn btn-secondary btn-sm" style="width:50px;height:35px;font-size: 17px;">Back</a></td>
        </tr> 
      </form>
      </tbody>  
     </div>
    </div>
    </div>   
  </center> 
{% endblock %}
</body>
</html>