{% extends "base.html" %}

{% block content %}
<html>
<body>
<div class="col">
 <center>
<table class="table bg-white rounded shadow-sm  table-hover" style="width:60%">
    <tbody>
        
 <form action="printupdatedreport" method="POST">
  <tr>
    <th>
  <label for="">Select Report Type</label></th>
              <td><select name="typereport">
                  <option value="">select report type</option>
                  <option name="typereport" value="tyreservice">Tyre Service</option>
                  <option name="typereport" value="batteryservice">Battery Service</option>
                  <option name="typereport" value="repairservice">Repairing Service</option>
                  
              </select></td>
    </tr>
    <tr>
    <th><label for="date">Select Date From</label></th>
          <td><input type="date" name="date1" data-date-format="YYYY MMMM DD" min="2019-01-01" ></td>
        </tr>
        <tr>
          <th>
            <label for="date">Select Date To</label></th>
            <td>
          <input type="date" name="date2" data-date-format="YYYY MMMM DD" min="2019-01-01" ></td>
          <td>
          </tr>
          <tr>
          <td>
         <button type="submit" class="btn btn-secondary">View</button></h5></td></tr>

    </form>
  </tbody>
  </table>

    </center>
</body>
</html>
{% endblock %}