{% extends "base.html" %}
 <!DOCTYPE html>
<html lang="en">
<body>
{% block content %}



<h3 class="fs-4 mb-3">Edit Battery Price</h3>
<div class="col">
    <table class="table bg-white rounded shadow-sm  table-hover">
      <tbody>
        
        <form action="/ciazbatteryupdate/{{service1[0]}}" method="post"> 
            <tr>                   
            <th>Battery Name</th>
            <td>
                 {{service1[0]}}
            </td>
            </tr>
             <tr><th>
                Capacity</th>
                 <td>
                {{service1[1]}}
            </td>
        </tr>
         <tr>
                <th>Warranty</th>
                 <td>
                {{service1[2]}}
            </td>
        </tr>
            <tr>
            <th>Price</th>
            <td>
                  <input type="text" name="price" value="{{service1[3]}}" required>
            </td>
            </tr>
           <tr>
          <th>Reason for updation</th>
          <td>
                <input type="text" name="description" placeholder="description" required>
          </td>
          </tr>
            <tr>
            <td><button type="submit" class="btn btn-secondary">Update</button>
            </td>
          </tr>
            </tbody>     
      </form>
      </tbody>
     </div>
    </div>
    </div>   
{% endblock %}
</body>
</html>