<!DOCTYPE html>
<html lang="en" dir="1tr">
    <head>
       
        <meta charset="UTF-8">
        
        <meta name="viewport" contect="width=device-width,initial-scale=1.0">
        <title> Adminform </title> 
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="static/css/signin.css"/>
             
    </head>
    <body>
        <div class="wrapper">
            <div class="title"><span>Mechanic Form</span></div>
                <form action="{{ url_for('mechanic') }}" method="post">
                <div class="msg">{{ msg }}</div>
                <div class="row">
                    <i class="fas fa-envelope-square"></i>
                    <input id="mechanicname" name="mechanicname" type="text" placeholder="Enter user Name" required/>
                </div>
                    <div class="row">
                    <i class="fas fa-lock"></i>
                    <input id="password" name="password" type="password" placeholder="Enter Service Password" required/>
                </div>
                    <div class="row button">
                    <input type="submit"  value="Login In"></br></br>
                </div>
                 
                </form>
            
            </div>
        </div>

    </body>
</html>

